
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root{
  --primary: #1aac83;
  --error: #e7195a;
}
body{
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header{
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}        
header a{
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


.guestAllcourses {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.instructorAllCourses {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.corporateTraineeAllCourses {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.individualTraineeAllCourses {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
}
.course-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.admins {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.admin-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.admin-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.admin-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
body{
background-color:#eef3f4;    
}

.height-100{
  height:10vh;
}

.card{
margin-left:300px;
margin-bottom:1250px;

  width:780px;
  border:none;
  height:100px;
}

.ratings{
  margin-right:5px;
}

.ratings i{
  
  color:#cecece;
  font-size:32px;
}

.rating-color{
  color:#fbc634 !important;
}

.review-count{
  font-weight:400;
  margin-bottom:2px;
  font-size:24px !important;
}

.small-ratings i{
color:#cecece;   
}

.review-stat{
  font-weight:300;
  font-size:18px;
  margin-bottom:2px;
}

.admin-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.instructors {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.instructor-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.instructor-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.instructor-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.instructor-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.corporateTrainees {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.corporateTrainee-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.corporateTrainee-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.corporateTrainee-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.corporateTrainee-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.guestcourseDetals {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  /* cursor: pointer; */
}
.guestcourseDetals h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.guestcourseDetals p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.guestcourseDetals span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

